{% extends "base.html" %}

{% block content %}

<div class="card text-bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">Header</div>
    <h6 class="card-title">{{ producto.nombre }}</h6>
    <div class="card-body">

        <p class="card-text">{{ producto.stock }}</p>
        <p class="card-text">{{ producto.categoria }}</p>
        <p class="card-text">{{ producto.puntaje }}</p>
        <p class="card-text">{{ producto.creado_en }}</p>
        <p class="card-text">
    </div>
        <a class="btn btn-primary" href="{% url 'productos:index' %}">
            Volver
        </a>
    </p>
</div>

{% endblock content %}